USE [master]
GO
/****** Object:  Database [db_shopagent]    Script Date: 6/23/2018 8:35:19 PM ******/
CREATE DATABASE [db_shopagent] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_shopagent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_shopagent]
GO
/****** Object:  Schema [learningagent]    Script Date: 6/23/2018 8:35:19 PM ******/
CREATE SCHEMA [learningagent]
GO
/****** Object:  Schema [m2ss]    Script Date: 6/23/2018 8:35:19 PM ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Table [dbo].[alternative_products]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alternative_products](
	[product_id] [int] NULL,
	[alternative_product_1] [int] NULL,
	[alternative_product_2] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_products]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_products](
	[category_id] [int] NOT NULL,
	[category_name] [nvarchar](50) NULL,
	[image_category] [nchar](10) NULL,
 CONSTRAINT [PK_category_products] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chain_store]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chain_store](
	[chain_store_id] [int] NOT NULL,
	[chain_name] [nchar](10) NULL,
 CONSTRAINT [PK_chain_store] PRIMARY KEY CLUSTERED 
(
	[chain_store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[components_ref_product]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[components_ref_product](
	[component_id] [int] NOT NULL,
	[product_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[limits]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[limits](
	[limit_id] [int] NOT NULL,
	[limit_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_md_limits] PRIMARY KEY CLUSTERED 
(
	[limit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[only_receipt_products]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[only_receipt_products](
	[product_id] [int] NOT NULL,
	[product_num] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_only_receipt_products] PRIMARY KEY CLUSTERED 
(
	[product_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[only_receipt_user]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[only_receipt_user](
	[user_num] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_only_receipt_user] PRIMARY KEY CLUSTERED 
(
	[user_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_components]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_components](
	[component_id] [int] NOT NULL,
	[component_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_product_components] PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](50) NULL,
	[price] [money] NULL,
	[category_id] [int] NULL,
	[image] [varchar](50) NULL,
	[weighable] [bit] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipet_ref_product]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipet_ref_product](
	[receipt_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [float] NOT NULL,
 CONSTRAINT [PK_receipet_ref_product] PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC,
	[product_id] ASC,
	[quantity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipt]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[sum] [money] NULL,
	[date] [date] NULL,
	[market_id] [int] NULL,
 CONSTRAINT [PK_receippt] PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receipt_ref_user]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt_ref_user](
	[user_id] [int] NOT NULL,
	[receipt_id] [int] NOT NULL,
 CONSTRAINT [PK_receipt_ref_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supermarket]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supermarket](
	[market_id] [int] NOT NULL,
	[address] [nvarchar](50) NULL,
	[chain_store_id] [int] NULL,
	[market_name] [nchar](10) NULL,
 CONSTRAINT [PK_supermarket] PRIMARY KEY CLUSTERED 
(
	[market_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unlike_components]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unlike_components](
	[component_id] [int] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](20) NOT NULL,
	[password] [varchar](128) NOT NULL,
	[name] [nchar](10) NULL,
	[last_name] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_ref_limits]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_ref_limits](
	[limit_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[Partial] [bit] NULL,
 CONSTRAINT [PK_user_ref_limits] PRIMARY KEY CLUSTERED 
(
	[limit_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [learningagent].[plu]    Script Date: 6/23/2018 8:35:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [learningagent].[plu](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](45) NOT NULL,
	[Price] [float] NOT NULL,
	[Vegan] [smallint] NULL,
	[Kosher] [smallint] NULL,
	[Sugar free] [smallint] NULL,
	[Gluten free] [smallint] NULL,
	[Seller ID] [tinyint] NULL,
	[Weighted item] [smallint] NULL,
	[Department] [bigint] NULL,
	[Dairy free] [tinyint] NULL,
 CONSTRAINT [PK_plu_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[alternative_products] ([product_id], [alternative_product_1], [alternative_product_2]) VALUES (1, 619, 701)
INSERT [dbo].[alternative_products] ([product_id], [alternative_product_1], [alternative_product_2]) VALUES (618, 775, 813)
INSERT [dbo].[alternative_products] ([product_id], [alternative_product_1], [alternative_product_2]) VALUES (2, 3, NULL)
GO
INSERT [dbo].[category_products] ([category_id], [category_name], [image_category]) VALUES (1, N'פירות וירקות', NULL)
INSERT [dbo].[category_products] ([category_id], [category_name], [image_category]) VALUES (2, N'קפואים', NULL)
INSERT [dbo].[category_products] ([category_id], [category_name], [image_category]) VALUES (3, N'חלב ותחליפיו', NULL)
INSERT [dbo].[chain_store] ([chain_store_id], [chain_name]) VALUES (1, N'שופרסל    ')
INSERT [dbo].[chain_store] ([chain_store_id], [chain_name]) VALUES (2, N'מגה       ')
INSERT [dbo].[chain_store] ([chain_store_id], [chain_name]) VALUES (3, N'יינות ביתן')
INSERT [dbo].[components_ref_product] ([component_id], [product_id]) VALUES (3, 2)
INSERT [dbo].[components_ref_product] ([component_id], [product_id]) VALUES (3, 3)
INSERT [dbo].[components_ref_product] ([component_id], [product_id]) VALUES (1, 5)
GO
INSERT [dbo].[limits] ([limit_id], [limit_name]) VALUES (1, N'כשרות למהדרין')
INSERT [dbo].[limits] ([limit_id], [limit_name]) VALUES (2, N'משפחה עם ילדים עד גיל 3')
INSERT [dbo].[limits] ([limit_id], [limit_name]) VALUES (3, N'צמחונות')
SET IDENTITY_INSERT [dbo].[only_receipt_products] ON 

INSERT [dbo].[only_receipt_products] ([product_id], [product_num]) VALUES (1, 1)
INSERT [dbo].[only_receipt_products] ([product_id], [product_num]) VALUES (2, 2)
INSERT [dbo].[only_receipt_products] ([product_id], [product_num]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[only_receipt_products] OFF
SET IDENTITY_INSERT [dbo].[only_receipt_user] ON 

INSERT [dbo].[only_receipt_user] ([user_num], [user_id]) VALUES (1, 4)
INSERT [dbo].[only_receipt_user] ([user_num], [user_id]) VALUES (2, 14)
INSERT [dbo].[only_receipt_user] ([user_num], [user_id]) VALUES (3, 19)
SET IDENTITY_INSERT [dbo].[only_receipt_user] OFF
INSERT [dbo].[product_components] ([component_id], [component_name]) VALUES (1, N'גלוטן')
INSERT [dbo].[product_components] ([component_id], [component_name]) VALUES (2, N'סוכר')
INSERT [dbo].[product_components] ([component_id], [component_name]) VALUES (3, N'לקטוז')
INSERT [dbo].[products] ([product_id], [product_name], [price], [category_id], [image], [weighable]) VALUES (1, N'חלב סויה לא ממותק', 9.9000, 3, NULL, 0)
INSERT [dbo].[products] ([product_id], [product_name], [price], [category_id], [image], [weighable]) VALUES (2, N'חלב 3% ', 6.2000, 3, NULL, 0)
INSERT [dbo].[products] ([product_id], [product_name], [price], [category_id], [image], [weighable]) VALUES (3, N'חלב 1%', 6.2000, 3, NULL, 0)
GO
INSERT [dbo].[receipet_ref_product] ([receipt_id], [product_id], [quantity]) VALUES (1, 1, 4)
INSERT [dbo].[receipet_ref_product] ([receipt_id], [product_id], [quantity]) VALUES (1, 4, 4)
INSERT [dbo].[receipet_ref_product] ([receipt_id], [product_id], [quantity]) VALUES (1, 8, 1)
GO
SET IDENTITY_INSERT [dbo].[receipt] ON 

INSERT [dbo].[receipt] ([receipt_id], [sum], [date], [market_id]) VALUES (0, 49.1000, CAST(N'2018-04-28' AS Date), NULL)
INSERT [dbo].[receipt] ([receipt_id], [sum], [date], [market_id]) VALUES (1, 507.4700, NULL, NULL)
INSERT [dbo].[receipt] ([receipt_id], [sum], [date], [market_id]) VALUES (2, 640.0000, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[receipt] OFF
INSERT [dbo].[receipt_ref_user] ([user_id], [receipt_id]) VALUES (4, 57)
INSERT [dbo].[receipt_ref_user] ([user_id], [receipt_id]) VALUES (4, 58)
INSERT [dbo].[receipt_ref_user] ([user_id], [receipt_id]) VALUES (4, 59)
GO
INSERT [dbo].[unlike_components] ([component_id], [user_id]) VALUES (2, 25)
INSERT [dbo].[unlike_components] ([component_id], [user_id]) VALUES (6, 26)
INSERT [dbo].[unlike_components] ([component_id], [user_id]) VALUES (7, 26)
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [user_name], [password], [name], [last_name], [phone], [address]) VALUES (4, N'Sasha     ', N'vkWUoL1YyarhbeoqXMK1x+y0RteAAmZ44Qv5O7TRjUNkmfnj', N'סשה       ', N'בלנק      ', N'0545851990', N'כצנלסון 14 גבעתיים')
INSERT [dbo].[user] ([user_id], [user_name], [password], [name], [last_name], [phone], [address]) VALUES (13, N'Kristina  ', N'vkWUoL1YyarhbeoqXMK1x+y0RteAAmZ44Qv5O7TRjUNkmfnj', N'כריסטינה  ', N'בישוף     ', N'0545267020', N'רופין 4 נס ציונה')
INSERT [dbo].[user] ([user_id], [user_name], [password], [name], [last_name], [phone], [address]) VALUES (14, N'Naama     ', N'vkWUoL1YyarhbeoqXMK1x+y0RteAAmZ44Qv5O7TRjUNkmfnj', N'נעמה      ', N'לפידות    ', N'0523077781', N'תל חי 11 כפר סבא')
SET IDENTITY_INSERT [dbo].[user] OFF
INSERT [dbo].[user_ref_limits] ([limit_id], [user_id], [Partial]) VALUES (1, 14, 1)
INSERT [dbo].[user_ref_limits] ([limit_id], [user_id], [Partial]) VALUES (1, 26, 0)
INSERT [dbo].[user_ref_limits] ([limit_id], [user_id], [Partial]) VALUES (1, 28, 1)
INSERT [learningagent].[plu] ([ID], [Name], [Price], [Vegan], [Kosher], [Sugar free], [Gluten free], [Seller ID], [Weighted item], [Department], [Dairy free]) VALUES (1, N'Soy milk unsweetened', 9.9, 1, 1, 1, 1, 1, 0, 3, 1)
INSERT [learningagent].[plu] ([ID], [Name], [Price], [Vegan], [Kosher], [Sugar free], [Gluten free], [Seller ID], [Weighted item], [Department], [Dairy free]) VALUES (2, N'Milk 3% fat', 6.2, 0, 1, 1, 1, 1, 0, 3, 0)
INSERT [learningagent].[plu] ([ID], [Name], [Price], [Vegan], [Kosher], [Sugar free], [Gluten free], [Seller ID], [Weighted item], [Department], [Dairy free]) VALUES (3, N'Milk 1% fat', 6.2, 0, 1, 1, 1, 1, 0, 3, 0)
GO
/****** Object:  Index [idx_plu_Department]    Script Date: 6/23/2018 8:35:20 PM ******/
CREATE NONCLUSTERED INDEX [idx_plu_Department] ON [learningagent].[plu]
(
	[Department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER INDEX [idx_plu_Department] ON [learningagent].[plu] DISABLE
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT (N'0') FOR [Name]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Vegan]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Kosher]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Sugar free]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Gluten free]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Seller ID]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Weighted item]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Department]
GO
ALTER TABLE [learningagent].[plu] ADD  DEFAULT ((0)) FOR [Dairy free]
GO
ALTER TABLE [dbo].[components_ref_product]  WITH CHECK ADD  CONSTRAINT [FK_components_ref_product_product_components] FOREIGN KEY([component_id])
REFERENCES [dbo].[product_components] ([component_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[components_ref_product] CHECK CONSTRAINT [FK_components_ref_product_product_components]
GO
ALTER TABLE [dbo].[components_ref_product]  WITH CHECK ADD  CONSTRAINT [FK_components_ref_product_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[components_ref_product] CHECK CONSTRAINT [FK_components_ref_product_products]
GO
ALTER TABLE [dbo].[only_receipt_products]  WITH CHECK ADD  CONSTRAINT [FK_only_receipt_products_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[only_receipt_products] CHECK CONSTRAINT [FK_only_receipt_products_products]
GO
ALTER TABLE [dbo].[receipet_ref_product]  WITH CHECK ADD  CONSTRAINT [FK_receipet_ref_product_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipet_ref_product] CHECK CONSTRAINT [FK_receipet_ref_product_products]
GO
ALTER TABLE [dbo].[receipet_ref_product]  WITH CHECK ADD  CONSTRAINT [FK_receipet_ref_product_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[receipt] ([receipt_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipet_ref_product] CHECK CONSTRAINT [FK_receipet_ref_product_receipt]
GO
ALTER TABLE [dbo].[receipt]  WITH CHECK ADD  CONSTRAINT [FK_receipt_supermarket] FOREIGN KEY([market_id])
REFERENCES [dbo].[supermarket] ([market_id])
GO
ALTER TABLE [dbo].[receipt] CHECK CONSTRAINT [FK_receipt_supermarket]
GO
ALTER TABLE [dbo].[receipt_ref_user]  WITH CHECK ADD  CONSTRAINT [FK_receipt_ref_user_receipt] FOREIGN KEY([receipt_id])
REFERENCES [dbo].[receipt] ([receipt_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipt_ref_user] CHECK CONSTRAINT [FK_receipt_ref_user_receipt]
GO
ALTER TABLE [dbo].[receipt_ref_user]  WITH CHECK ADD  CONSTRAINT [FK_receipt_ref_user_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[receipt_ref_user] CHECK CONSTRAINT [FK_receipt_ref_user_user]
GO
ALTER TABLE [dbo].[supermarket]  WITH CHECK ADD  CONSTRAINT [FK_supermarket_chain_store] FOREIGN KEY([chain_store_id])
REFERENCES [dbo].[chain_store] ([chain_store_id])
GO
ALTER TABLE [dbo].[supermarket] CHECK CONSTRAINT [FK_supermarket_chain_store]
GO
ALTER TABLE [dbo].[unlike_components]  WITH CHECK ADD  CONSTRAINT [FK_unlike_components_product_components] FOREIGN KEY([component_id])
REFERENCES [dbo].[product_components] ([component_id])
GO
ALTER TABLE [dbo].[unlike_components] CHECK CONSTRAINT [FK_unlike_components_product_components]
GO
ALTER TABLE [dbo].[unlike_components]  WITH CHECK ADD  CONSTRAINT [FK_unlike_components_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[unlike_components] CHECK CONSTRAINT [FK_unlike_components_user]
GO
ALTER TABLE [dbo].[user_ref_limits]  WITH CHECK ADD  CONSTRAINT [FK_user_ref_limits_limits] FOREIGN KEY([limit_id])
REFERENCES [dbo].[limits] ([limit_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_ref_limits] CHECK CONSTRAINT [FK_user_ref_limits_limits]
GO
ALTER TABLE [dbo].[user_ref_limits]  WITH CHECK ADD  CONSTRAINT [FK_user_ref_limits_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_ref_limits] CHECK CONSTRAINT [FK_user_ref_limits_user]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'learningagent.plu' , @level0type=N'SCHEMA',@level0name=N'learningagent', @level1type=N'TABLE',@level1name=N'plu'
GO
USE [master]
GO
